@import '../../styles/variables';

.ChatOverview {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border-right: 1px solid $light-grey;

    &__header {
        height: 6rem;
        display: flex;
        align-items: center;
        padding: 0 1.5rem;
        border-bottom: 1px solid $light-grey;
    }
    &__user-info {
        margin-left: 1.5rem;
    }
    &__user-name {
        margin-bottom: 0.25rem;
        font-weight: 500;
    }
    &__user-status {
        display: flex;
        align-items: center;
        margin-top: 0.25rem;
        font-size: 1.5rem;
        color: $grey;
    }
    &__user-active {
        width: 0.8rem;
        height: 0.8rem;
        background-color: #03c03c;
        border-radius: 50%;
        box-shadow: 0 0 0 2px $white;
        margin-left: 0.5rem;
    }
}

.Chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .MessagesOverview {
        flex-grow: 1;
        padding: 3rem 1.5rem;
    }

    &__textarea {
        padding: 2rem;
        width: 100%;
        height: 100%;
        border: 1px solid $light-grey;
        resize: none;
    }
}
