@import '../../styles/variables';

.ChatsPreview {
    width: 25%;
    border-right: 1px solid $light-grey;
    border-left: 1px solid $light-grey;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
