@import '../../styles/variables';

.AutoCompleteInput {
    position: relative;
    width: 100%;

    &__item-overview {
        background-color: $white;
        position: absolute;
        top: calc(100% + 1rem);
        left: 0;
        right: 0;
        width: 100%;
        box-shadow: $shadow-light;
    }
    &__item {
        width: 100%;
        list-style: none;
    }

    input {
        padding-left: 4rem;
        background-color: $bg;
        border: none;
        font-size: 1.5rem;
        transition: background-color 0.2s ease-in-out;

        &:focus {
            outline: none;
            background-color: darken($bg, 2%);
        }
    }
}
