@import 'styles/variables';
@import 'styles/container';
@import 'styles/fonts';
@import 'styles/input';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    color: $dark;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

img {
    display: block;
    max-width: 100%;
}

h1 {
    margin: 0;
}
