@import '../../styles/variables';

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: none;
    padding: 1rem 3rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    font-size: 1.7rem;

    &--primary {
        color: $white;
        background-color: $primary;
        text-transform: uppercase;
        font-weight: 500;
        border-radius: 100px;
        box-shadow: 0 0 2px 2px rgba($primary, 0.15);

        &:disabled {
            cursor: default;
            background-color: rgba($primary, 0.6);
        }
        &:disabled:hover {
            background-color: rgba($primary, 0.6);
        }

        &:focus,
        &:hover {
            outline: transparent;
            background-color: darken($primary, 4%);
        }
    }

    &--transparent {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: $grey;
        padding: 1rem 1.5rem;

        &:focus {
            outline: none;
        }
    }
}
