@import '../../styles/variables';

.ChatPreview {
    display: flex;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid $light-grey;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &--visited {
        background: linear-gradient(to right top, $primary, $linear-primary);

        .ChatPreview__user-name,
        .ChatPreview__last-message,
        .ChatPreview__date {
            color: $white;
        }
        & img {
            box-shadow: 0 0 0 2px $white;
        }
    }

    &:hover,
    &:focus {
        background-color: $light-grey;
    }

    &__user-info {
        margin: 0 auto 0 1.5rem;
    }

    &__user-name {
        font-weight: 500;
        margin-bottom: 0.25rem;
    }
    &__last-message {
        margin-top: 0.25rem;
    }

    &__last-message,
    &__date {
        color: $grey;
        font-size: 1.4rem;
    }
}
