@import '../../styles/variables';

$msg-br-radius: 15px;
$margin: 1.5rem;

.Message-wrapper--left,
.Message-wrapper--right {
    margin-bottom: $margin;
    display: flex;
}

.Message-wrapper--left {
    justify-content: flex-start;

    .Message__content {
        margin-left: $margin;
        border-radius: $msg-br-radius $msg-br-radius $msg-br-radius 0;
    }

    .Message__content-wrapper {
        padding-right: $margin;
    }

    .Message__date {
        text-align: end;
    }
}

.Message-wrapper--right {
    justify-content: flex-end;

    .Message__date {
        text-align: start;
    }

    .Message__content-wrapper {
        padding-left: $margin;

        .ProfilePicture {
            order: 1;
        }
    }

    .Message__content {
        order: 0;
        background: linear-gradient(to right top, $primary, $linear-primary);
        margin-right: $margin;
        border-radius: $msg-br-radius 0 $msg-br-radius $msg-br-radius;
        color: $white;
    }
}

.Message {
    display: inline-block;
    max-width: 45%;
    word-wrap: break-word;
    word-break: break-all;

    &__date {
        display: block;
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
        color: $grey;
    }
    &__content-wrapper {
        display: flex;
        align-items: center;
    }
    &__content {
        background-color: $light-grey;
        padding: 1.2rem 2rem;
    }
}
