@import '../../styles/variables';

.search-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover,
    &:focus {
        outline: none;
        background-color: $light-grey;
    }

    &__user {
        display: flex;
        align-items: center;
        color: $grey;

        img {
            width: 3.5rem;
            height: 3.5rem;
            margin-right: 1rem;
        }
    }
    &__icon {
        fill: $primary;
        width: 2rem;
        height: 2rem;
    }
}
