// vars

$primary: #1173ff;
$linear-primary: #aacdff;
$dark: #222;
$white: #fff;
$light-grey: #e5ebee;
$grey: #757575;
$error: #e0245e;

// box shadow
$shadow-bottom-light: 0 3px 6px 0 rgba($dark, 0.1);
$shadow-light: 0 0 4px 1px rgba($dark, 0.1);

// utils
$br-radius: 5px;
